@page

@using System.Globalization
@using Tasheer.Notification.Views.Account
@using Tasheer.Resources

@model VerifyOtpModel
@{
    var viewModel = ViewContext.ViewData.Model as VerifyOtpModel;
    Thread.CurrentThread.CurrentUICulture = new CultureInfo(viewModel!.LanguageIsoCode!);
    var isArabic = viewModel!.LanguageIsoCode!.Equals("ar", StringComparison.OrdinalIgnoreCase);

    Layout = "_EmailLayout";
    ViewBag.IsArabic = isArabic;
    ViewBag.SiteUrl = viewModel!.SiteUrl;
    ViewBag.Team = EmailNotificationResources.Team;
    ViewBag.DoNotReplyToThisMail = EmailNotificationResources.DoNotReplyToThisMail;
    ViewBag.Copyright = EmailNotificationResources.Copyright;
    ViewBag.EmailTitle = EmailNotificationResources.VerifyEmailTemplate_VerifyEmailTitle;
}

<table width="100%" border="0" cellspacing="0"
       cellpadding="0">
    <tbody>
        <tr>
            <td class="title-36 a-center pb-15"
                style="font-size: 24px; line-height: 40px; color: #282828; font-family: &#39;PT Sans&#39;,Arial, sans-serif; min-width: auto !important; text-align: center; padding-bottom: 15px;">
                <strong>@EmailNotificationResources.WelcomeMessage,</strong>
            </td>
        </tr>
        <tr>
            <td class="text-16 lh-26 a-center pb-25"
                style="font-size: 16px; color: #6e6e6e; font-family: &#39;PT Sans&#39;, Arial, sans-serif; min-width: auto !important; line-height: 26px; text-align: center; width: 50%; padding-left: 15%; padding-right: 15%; padding-bottom: 90px;"
                dir='@(isArabic ? "rtl" : "ltr")'>
                <p>
                    @EmailNotificationResources.VerifyEmailTemplate_YourOTPLabel
                </p>
                <h2 style="color: #282828; letter-spacing: 4px;">@viewModel.OTPValue</h2>
                <p>
                    @EmailNotificationResources.VerifyEmailTemplate_PleaseDoNotShareOTP
                </p>
                <p>
                    @EmailNotificationResources.VerifyEmailTemplate_OTPValidFor5min
                </p>
            </td>
        </tr>
    </tbody>
</table>