@page

@using System.Globalization
@using Mabusall.Notification.Views.Account
@using Mabusall.Resources

@model VerifyOtpModel
@{
    var viewModel = ViewContext.ViewData.Model as VerifyOtpModel;
    var isArabic = viewModel!.LanguageIsoCode!.Equals("ar", StringComparison.OrdinalIgnoreCase);

    // set the thread language
    Thread.CurrentThread.CurrentUICulture = new CultureInfo(viewModel!.LanguageIsoCode!);

    Layout = "_EmailLayout";
    ViewBag.IsArabic = isArabic;
    ViewBag.SiteUrl = viewModel!.SiteUrl;
    ViewBag.Team = EmailNotificationResources.Team;
    ViewBag.DoNotReplyToThisMail = EmailNotificationResources.DoNotReplyToThisMail;
    ViewBag.Copyright = EmailNotificationResources.Copyright;
    ViewBag.NeedHelp = EmailNotificationResources.NeedHelp;
    ViewBag.NeedForHelpMessage = EmailNotificationResources.NeedForHelpMessage;
    ViewBag.EmailTitle = EmailNotificationResources.VerifyOtpTemplate_Title;
}

<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td style="font-size: 20px; line-height: 40px; color: #282828;">
                <p>@EmailNotificationResources.WelcomeMessage,</p>
            </td>
        </tr>
        <tr>
            <td style="font-size: 16px;" dir='@(isArabic ? "rtl" : "ltr")'>
                <p>
                    @EmailNotificationResources.VerifyOtpTemplate_YourOtpLabel
                </p>
                <h2 style="color: #282828; letter-spacing: 4px; font-size: 2rem; font-weight: bold; margin-top: .5rem; margin-bottom: .5rem;">@viewModel.OtpValue</h2>
                <p>
                    @EmailNotificationResources.VerifyOtpTemplate_PleaseDoNotShareOTP
                </p>
                <p>
                    @EmailNotificationResources.VerifyOtpTemplate_OtpValidFor5min
                </p>
            </td>
        </tr>
    </tbody>
</table>